// browser resets

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Background gradient styling 
// and padding values to squeeze the card.

body {
    height: 100vh;
    background-image: linear-gradient($violet, $blue);
    padding: 1.4rem;
    padding-top: 9.18rem;
}

// card styling

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 2em;

    &_image_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: url(/images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: 1.5rem 0;
        background-size: inherit;
        position: relative;
        left: -0.75rem;
    
        .card_image {
            display: flex;
            position: relative;
            top: -6.75rem;
        }
    }

    // accordian styling

    .accordian {
        position: relative;
        top: -3rem;
        padding: 0 1.5rem 0 1.5rem;
        line-height: 1.3rem;
        width: 100%;

        .heading {
            text-align: center;
            // padding-bottom: 1.3rem;
            
        }

        &_item {
            border-bottom: 1px solid $ltgrey;
            padding: 1.3rem 0 0 0;
            
        }

        &_panel, &_btn {
            font-size: 0.75rem;
            text-align: left;
        }

        &_btn {
            cursor: pointer;
            display: flex;
            justify-content: space-between; 
            align-content: center;
            border: none;
            outline: none;
            background-color: #ffffff;
            padding-bottom: 1rem; 
            width: 100%;   
            
            &:hover {
                color: $red;
            }
            
            &::after {
                content: '';
                display: block;
                position: relative;
                top: 0.25rem;
                width: 0.65rem;
                height: 1rem;
                background-image: url(/images/icon-arrow-down.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            
        }

        &_panel {
            display: none;
            overflow: hidden;
            padding-bottom: 1rem;
            
            
        }
    }

    .active>.accordian_btn {
        font-weight: 700;

            &::after {
                top: -0.43rem;
                transform: scaleY(-1);
        }
    }

    .active>.accordian_panel {
        display: block;
    }
};

