body {
  font-family: 'Kumbh Sans', sans-serif;
}

.accordian_btn {
  font-family: 'Kumbh Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  padding: 1.4rem;
  padding-top: 9.18rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 2em;
}

.card_image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: 1.5rem 0;
  background-size: inherit;
  position: relative;
  left: -0.75rem;
}

.card_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -6.75rem;
}

.card .accordian {
  position: relative;
  top: -3rem;
  padding: 0 1.5rem 0 1.5rem;
  line-height: 1.3rem;
  width: 100%;
}

.card .accordian .heading {
  text-align: center;
}

.card .accordian_item {
  border-bottom: 1px solid #e7e7e9;
  padding: 1.3rem 0 0 0;
}

.card .accordian_panel, .card .accordian_btn {
  font-size: 0.75rem;
  text-align: left;
}

.card .accordian_btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  border: none;
  outline: none;
  background-color: #ffffff;
  padding-bottom: 1rem;
  width: 100%;
}

.card .accordian_btn:hover {
  color: #f47c57;
}

.card .accordian_btn::after {
  content: '';
  display: block;
  position: relative;
  top: 0.25rem;
  width: 0.65rem;
  height: 1rem;
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card .accordian_panel {
  display: none;
  overflow: hidden;
  padding-bottom: 1rem;
}

.card .active > .accordian_btn {
  font-weight: 700;
}

.card .active > .accordian_btn::after {
  top: -0.43rem;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.card .active > .accordian_panel {
  display: block;
}

@media screen and (min-width: 900px) {
  body {
    padding: 3rem;
    padding-top: 9.18rem;
  }
  .card {
    height: 31rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .card_image-container {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 2.5rem 0;
  }
  .card img {
    height: 22rem;
  }
  .card .accordian {
    top: 6rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .card_image {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */